#education{
    background-color: #c69500;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 100%;

}
body{
    background-color: #cce5ff;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #7abaff;
}
footer{
    background-color: #7abaff;
}